.idea
./target
target/
target
**/*.rs.bk
_build
.buildconfig
de.haeckerfelix.gradio.json~
de.haeckerfelix.GradioDevel.json~
de.haeckerfelix.ShortwaveDevel.json~
de.haeckerfelix.Shortwave.json~
*.ui~
.ui~
./.cargo
.cargo
Rustio
./Rustio
resources.gresource
*.gresource
tags.*
wip
src/config.rs
